* {
    outline: 1px solid red !important;
 }
h1{
    background-color: blue;
    
}
.content {
    display: flex;
 }
 
 .image {
    flex: 1;
 }
 
 .description {
    flex: 2;
    border: 0px;
 }
 
 img {
    width: 500px;
    height: 300px;
 }
 